@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: var(--font-montserrat), 'Montserrat', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-16.666%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
